/* Black Panther Movement page*/

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

/*for search bar*/
.search {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    overflow: hidden;
    background-color: #333;
}
.search a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.search a:hover {
    border-bottom: 3px solid green;
    color: black;
  }
  
.search a.active {
    background-color: red;
    color: white;
  }
/*for search bar*/

/* Top image*/
.bpm1 {
    display: flex;
    justify-content: center;
    width: 100%;

}
/* Top image*/

.bobby{
    float: left;
    padding: 0 0 20px 20px;
}
.binfo{
    padding-right: 20px;
    right: 40px;
}
.huey{
    float: left;
    padding: 0 0 20px 20px;
}
.cal{
    float: right;
    padding: 0 0 20px 20px;
}
.fred{
    float: left;
    padding: 0 0 20px 20px;
}

.norma{
    float: right;
    padding: 0 0 20px 20px;
}
.manifesto{
    float: right;
    padding: 0 0 20px 20px;
}
.rules{
    float: left;
    padding: 0 0 20px 20px;
}
.breakfast{
    float: right;
    padding: 0 0 20px 20px;
}
.child{
    float: left;
    padding: 0 0 20px 20px;
}
.cell{
    float: right;
    padding: 0 0 20px 20px;
}

/*Change in screen layout*/
@media screen and (max-height: 450px)