/* Black Panther Movement page*/

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

/*for tab bar*/
.search {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    overflow: hidden;
    background-color: #333;
}
.search a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.search a:hover {
    border-bottom: 3px solid green;
    color: black;
  }
  
.search a.active {
    background-color: red;
    color: white;
  }
/*for tab bar*/

/*Side bar*/
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width */
    position: fixed;
    /* Fixed place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: black;
    /* Disable horizontal scroll */
    overflow-x: hidden;
    /* Place content 60px from the top */
    padding-top: 60px;
    /* Transition effect to slide
        in the sidebar */
    transition: 0.5s;
}
/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* Mouse over the navigation
links, to change their color */
.sidebar a:hover {
    color: red;
}
/* Position and style the close
button at top right corner */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
/* Style page content - pushes the
page content to the right when the
sidebar is opened */
#main {
    /* If you want a transition effect */
    transition: margin-left 0.5s;
    padding: 20px;
}
/*Side bar*/

/* Top image*/
.bpm1 {
    display: flex;
    justify-content: center;
    width: 100%;

}
/* Top image*/

.bobby{
    float: left;
    padding: 0 0 20px 20px;
}
.binfo{
    padding-right: 20px;
    right: 40px;
}
.huey{
    float: left;
    padding: 0 0 20px 20px;
}
.cal{
    float: right;
    padding: 0 0 20px 20px;
}
.fred{
    float: left;
    padding: 0 0 20px 20px;
}

.norma{
    float: right;
    padding: 0 0 20px 20px;
}
.manifesto{
    float: right;
    padding: 0 0 20px 20px;
}
.rules{
    float: left;
    padding: 0 0 20px 20px;
}
.breakfast{
    float: right;
    padding: 0 0 20px 20px;
}
.child{
    float: left;
    padding: 0 0 20px 20px;
}
.cell{
    float: right;
    padding: 0 0 20px 20px;
}

/*Photo gallary*/
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

  div.scroll-container img {
    padding: 10px;
  }
/*End Photo gallary*/

/*Change in screen layout*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    /*Side bar*/
    .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    /*Side bar*/
  }