/*Search Bar*/
#searchbar {
    left: 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 50%;
    z-index: 100;
}

input[type=text] {
    width: 10%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }


/*Grid for topics*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    /*Shift the whole grid to the left of the page*/
    margin-left: 150px;
    justify-content: center;
}

/*Grid for starter heading*/
.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    /*Shift the whole grid to the left of the page*/
    margin-left: 150px;
    justify-content: center;
}

.flag {
    width: 2000;
    height: 1333;
    max-width: 799px, 200vw, 100vw;
    display: block;

}

/*Creating grid for the topics*/
.heading1 { 
    align-self: center;
    grid-column: 1/3;
    font-size: 50px;
    align-items: center;
    justify-self: center;
    color: black;
}

.stereotypes {
    background-position: center;
    grid-column: 4/4;

}

justify-self: center;
    grid-column: 1/2;
    align-items: start;
    align-self: center;
    object-fit: cover;
    width: 500px;