/*Search Bar
#searchbar {
    left: 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 50%;
    z-index: 100;
}*/

/* end of search bar*/

/*very top*/
.header {
    text-align: center;
    background: sienna;
}

.logo{
    height: 30px;
    width: 80px;
    max-width: fit-content;
    align-content: center;
    align-items: center;
    align-self: center;


}
/*end Very top*/

/* top bar*/
.topbar {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    background-color: #333;
    white-space: nowrap;
}

.topbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topbar a:hover {
    border-bottom: 3px solid green;
    color: black;
}
  
.topbar a.active {
    background-color: red;
    color: white;
}

.topbar a.form {
    background-color: rgba(140, 210, 152, 0.598);
    color: white;
}

/*end for top bar*/

input[type=text] {
    width: 10%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

/*Slide show*/
.scroll-image {
    text-align: center;
}

.img {
    position: absolute; 
    left: 400px;
}
/*End slide show*/

/*Grid for topics*/
.wrapper {
    display: grid;
    margin: 0 auto;
    margin-left: 70px;
    grid-template-columns: 15% 15% 15% 15% 15%;
    column-gap: 5%;
    grid-auto-rows: minmax(10px, auto);
    padding: 10px;
    /*Shift the whole grid to the left of the page*/

}

.wrapper img {
    height: 100%;
    width: 100%;
}

/*Grid for starter heading*/
.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    /*Shift the whole grid to the left of the page*/
    margin-left: 150px;
    justify-content: center;
    
}

.flag {
    width: 2000;
    height: 1333;
    max-width: 799px, 200vw, 100vw;
    display: block;
    padding-right: 60px;
}

/*Creating grid for the topics*/
.heading1 { 
    align-self: center;
    grid-column: 1/3;
    font-size: 50px;
    align-items: center;
    justify-self: center;
    color: black;
    grid-row: 1/3;
}

.stereotypes {
    background-position: center;
    grid-column: 4/4;

}

.tubmanimg {
    grid-row-start: 3;
    grid-row-end: 4;
}

.rian {
    font-size: 30px;
}

/* Feedback form*/
.form {
    font-family: Roboto;
    border-radius: 5px;
    padding: 1px 30px;
}

.boxn{
    width:1600px;
}

.boxe{
    width:1350px;
}
/* end for Feedback form*/


/*Change in screen layout*/
@media screen and (max-height: 450px)